/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2014, 12:55:35 AM
    Author     : po-yilee
*/


#main
{ 
	margin: 0 auto;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; 
}

.section
{ 
	min-height: 500px;
	padding: 40px;
}

.section_head
{ 
	min-height: 300px; 
	padding: 40px; 
}


/* NAVIGATION STYLES */
.standardNav{
	position: fixed !important;
	overflow: visible;
	top: 50%;
	left: 50%;
	padding: 5px;
	margin: -100px 0 0 -630px;
	width: 125px;
	z-index: 9999;
	
	opacity: 0.90;
}

.standardNav ul{
	display: block;
	margin: 0;
	padding: 6px;
	list-style: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
}

.standardNav.left{
	margin-left: -45px;
}

.standardNav li{
	display: block;
}

.standardNav li a{
	display: block;	
	font-weight: normal;
	padding: 8px 10px;
	text-decoration: none;
	color: #666;
	font-size: 12px;
}	

.standardNav li a:hover{
	color: #333;
}

.standardNav li.active a{
	font-weight: bold;
	color: #000;
}	

.section ul li
{
	margin: 0;
	line-height: 25px;
	color: #666;
}

.section ul li a
{
	color: rgb(153,29,32);
	text-decoration: none;
	
	font-size: 16px;
}

.section ul li a:hover
{
	color: rgb(255,204,68);
}

.about_us{
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;
}



#members{
    margin:0 auto;
    display:table;
    text-align: center;
    width:800px;
}

.member_img{
    
}

.profile_pic{
  height:240px;
}

.member_des{
    display:block;
    float:left;
    text-align:left;
    margin-left:15px;
    width:145px;
}

.member_des span{
    display:block;
}

.self_intro{
    font:sans-serif;
    text-align:justify;
    text-indent:2em;
    height:210px;
}

.member_frame{
/*    width:900px; 
    height: 300px;*/
    border-width:2px;
    margin: 10px;
    float:left;
    width: 380px;
    display:table;
    text-align:center;
    margin-bottom: 30px;
}

.member_title{
    font-size:14px;
    font-weight:bold;
}

.member_photo_frame{

    float:left;
    width:200px;
    height:280px;
    float:top;
    z-index: 1;
    position: relative;
    padding:10px;
    background: #fff;
    border: 1px solid #eee;
    -moz-box-shadow: 0px 2px 15px #999;
    box-shadow: 0px 2px 15px #999;
    z-index: 1;
}

.member_photo{
    float:top;
    overflow: hidden;
    margin-bottom:5px;
    border-width:1px;
    border-color: rgb(200,200,200);
    border-style: solid;
}

.member_photo img{
}
.member_name{
    font-weight:bold;
    font-size:16px;
}

.rotate1
{
transform:rotate(5deg);
-ms-transform:rotate(5deg); /* IE 9 */
-webkit-transform:rotate(5deg); /* Opera, Chrome, and Safari */
}

.rotate2
{
transform:rotate(-5deg);
-ms-transform:rotate(-5deg); /* IE 9 */
-webkit-transform:rotate(-5deg); /* Opera, Chrome, and Safari */
}

.rotate1:hover, .rotate2:hover
{
transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
}


.member_icons
{
	/* margin: 75px 150px 0 0; */
	/* height: 100%; */
	//margin-right: 10px;
	//margin-top: 100px;
	 float: right; 
	/* display: inline; */

	/*border: 1px solid rgb(130,0,5);*/
}

.member_icons li
{
	display: inline;
	list-style: none;
	text-indent: -9999px;
	/*margin-left: 5px;*/
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
		
.member_icons li a
{
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
	height: 28px;
	width: 28px;
}

.member_icons li:hover
{
	background-position: 0 -38px;
}

.member_icons .facebook
{
	background: url(../images/facebook.png) no-repeat;
}

.member_icons .email
{
	background: url(../images/email_icon.gif) no-repeat;
}

