

/*          Basic Layout
====================================*/
.pagewidth
{
	margin: 0px auto 40px auto;
	position: relative;
	text-align: center; /* make the navigation bar be at the center */
	
	/*border: 1px solid red;*/
}

#main
{ 
	margin: 0 auto;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; 
}

.section
{ 
	min-height: 500px;
	padding: 40px;
}