/* PAGE LAYOUT STYLES */
/*
body{ margin: 0; font-family: arial, sans-serif; background: #eee;}
#wrapper{ position:relative; width:100%; }
*/


/*          Basic Layout
====================================*/
#main
{ 
	margin: 0 auto;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc; 
}

.section
{ 
	min-height: 500px;
	padding: 18px;
}

.section_head
{ 
	min-height: 300px; 
	padding: 40px;
}




/*        Navigation Style
====================================*/
.standardNav{
	position: fixed !important;
	overflow: visible;
	top: 50%;
	left: 50%;
	padding: 5px;
	margin: -100px 0 0 -630px;
	width: 125px;
	z-index: 9999;
	
	opacity: 0.90;
}

.standardNav ul{
	display: block;
	margin: 0;
	padding: 6px;
	list-style: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
}

.standardNav.left{
	margin-left: -45px;
}

.standardNav li{
	display: block;
}

.standardNav li a{
	display: block;	
	font-weight: normal;
	padding: 8px 10px;
	text-decoration: none;
	color: #666;
	font-size: 12px;
}	

.standardNav li a:hover{
	color: #333;
}

.standardNav li.active a{
	font-weight: bold;
	color: #000;
}	

.section ul li
{
	margin: 0;
	line-height: 25px;
	color: #666;
}

.section ul li a
{
	color: rgb(153,29,32);
	text-decoration: none;
	
	font-size: 16px;
}

.section ul li a:hover
{
	color: rgb(255,204,68);
}



/*        Scroll Bar
====================================*/

.scrollbar{
height:340px;
background-color:white;
margin: 0 auto;
overflow-y:scroll;
border-top: 2px solid #ccc; 
border-bottom: 2px solid #ccc; 
}

.content{
/* height:600px; */
} 

/* Let's get this party started */
#ex3::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
#ex3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
#ex3::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(192,192,192,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#ex3::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(192,192,192,0.4); 
}




/*        Job Opportunity
====================================*/
#job_table
{
	padding: 15px;
}

#job_table .first_head
{
	width: 400px;
	padding: 5px;
	font: 20px arial, sans-serif;
}

#job_table .second_head
{
	width: 300px;
	padding: 5px;
	font: 20px arial, sans-serif;
}

#job_table .third_head
{
	width: 100px;
	padding: 5px;
	font: 20px arial, sans-serif;
}


#job_table .first_col
{
	width: 400px;
	padding: 20px 10px 20px 10px;
}

#job_table .first_col .job_title a
{
	font: 20px arial, sans-serif;
}

#job_table .first_col .job_type
{
	font-weight: bold;
}

#job_table .first_col .job_description
{
	font: 14px arial, sans-serif;
	font-style:italic
}

#job_table .first_col .job_description a
{
	font: 14px arial, sans-serif;
	font-style:italic
}

#job_table .second_col
{
	width: 300px;
	padding: 10px;
	text-align: center;
	font: 18px arial, sans-serif;
}

#job_table .third_col
{
	width: 100px;
	padding: 10px;
	text-align: center;
	font: 13px arial, sans-serif;
}

#job_table .divider
{
	width: 100%;
	border-bottom: 1px solid #ccc;
}




/*           Cover  Photo
====================================*/
/*.cover_photo
{
	min-height: 300px;
	width: auto;
	background: url(../images/career_seminar.jpg) no-repeat;
	background-position:center; 
		
	border: 1px solid green;
}*/